@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #f0f0f0; 
}

.container {
    background-color: white;
    border: 1px solid #ccc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: ;
  }

