@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -moz-animation-delay: inherit;
  margin: auto;
  padding: auto;
  justify-self: unset;
  kerning: auto;
  justify-self:auto;
  position: relative;
}
